@model TechStore.Models.Servico
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja do Hugo - Excluir Servico</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="~/css/ProductDelete.css" rel="stylesheet" />
</head>
<body>

    <aside>
        <div>
            <div class="logo">Loja do Hugo</div>
            <nav>
                <ul>
                    <li><a href="#"><i class="ph ph-squares-four"></i> Home</a></li>
                    <li><a href="#" class="active"><i class="ph ph-package"></i> Servicos</a></li>
                </ul>
            </nav>
        </div>
        <div class="user-profile">
            <div class="avatar-initial">J</div>
            <div class="user-info"><h4>João Pires</h4><p>joaopires...</p></div>
        </div>
    </aside>

    <main>
        <h2>Detalhes do Servico</h2>
        <div style="height: 200px; background: #e5e7eb; border-radius: 16px; margin-top: 24px;"></div>
    </main>

    <div class="modal-overlay">
        <div class="modal-card">

            <div class="alert-icon-wrapper">
                <i class="ph ph-warning"></i>
            </div>

            <h3 class="modal-title">Excluir Servico?</h3>

            <p class="modal-text">
                Tem certeza que deseja remover este servico
                Essa ação é permanente e não poderá ser desfeita.
            </p>
            <form asp-action="Delete" method="post" asp-controller="Servico">
                <input asp-for="Id" type="hidden" />

                <div class="modal-actions">
                    <a asp-action="Index" asp-controller="Servico">
                        <button class="btn btn-cancel">Cancelar</button>
                    </a>
                    <button type="submit" class="btn btn-delete">Sim, excluir</button>
                </div>
            </form>


        </div>
    </div>
</body>
</html>