@model TechStore.Models.Servico
@{
}

<h1>
    Editar servico
</h1>

<a asp-action="Index">Go back</a>

<form asp-action="Edit" method="post">
    <input asp-for="Id" type="hidden"/>


    <label>Titulo:</label>
    <input asp-for="Titulo" />
    <label>Descricao:</label>
    <input asp-for="Descricao" />
    <label>Valor:</label>
    <input asp-for="Valor" />

    <button type="submit">Save changes</button>
</form>