@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .btn-client {
            background-color: #eff6ff; 
            color: #2563eb;
            border-color: #2563eb; 
            margin-bottom: 10px;
            border-radius: 10px;
            padding: 5px 10px;
        }

            .btn-client:hover {
                background-color: #dbeafe; 
                transform: translateY(-2px); 
                box-shadow: 0 4px 12px rgba(37, 99, 235, 0.15);
            }


        .btn-admin {
            background-color: #111827; 
            color: #ffffff;
            border-color: #111827;
            border-radius: 10px;
            padding: 5px 10px;
        }

            .btn-admin:hover {
                background-color: #1f2937;
                transform: translateY(-2px);
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            }
    </style>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="left-side">
                <p class="home-text">Hugo TechStore</p>
            </div>
            <div class="middle">
                Selecione o tipo de sessão
            </div>
            <div class="right-side">
                <a asp-action="Enter" asp-controller="Home" class="nav-text">Home</a>
            </div>
        </nav>
    </header>

    <div class="center">
        <a asp-action="Produtos" asp-controller="Home">
            <button class="btn-client">
                Área do cliente
            </button>
        </a> <br />
        <a asp-action="Index" asp-controller="Produto">
            <button class="btn-admin">
                Área do administrador
            </button>
        </a>
    </div>
</body>

