<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TechStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NavBar.css" />
    <link rel="stylesheet" href="~/css/Products.css" />
    <link rel="stylesheet" href="~/css/General.css" />
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="left-side">
                <p class="home-text">Hugo TechStore</p>
            </div>
            <div class="middle">
                <a asp-action="Index" asp-controller="Produto" class="nav-text">Produtos</a>
                <a asp-action="Index" asp-controller="Servico"class="nav-text">Serviços</a>
                <p class="nav-text">Avaliações</p>
            </div>
            <div class="right-side">
                <p class="nav-text">Meus Pedidos</p>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
