@model TechStore.Models.Produto
@{
}

<h1>
    Editar produto
</h1>

<a asp-action="Index">Go back</a>

<form asp-action="Edit" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden"/>
    <input type="hidden" asp-for="Foto" />

    <label>Titulo:</label>
    <input asp-for="Titulo" />
    <label>Descricao:</label>
    <input asp-for="Descricao" />
    <label>Valor:</label>
    <input asp-for="Valor" />
    <label>Foto Atual:</label><br />
    @if (Model.Foto?.Length > 0)
    {
        <img src="@Url.Action("PegarFoto", "Produto", new { id = Model.Id })" style="max-width: 150px; margin-bottom: 10px;" />
    }
    <br />

    <label>Alterar Imagem:</label>
    <input type="file" name="novaImagem" class="form-control" />



    <label>Categoria:</label>
    <select asp-for="CategoriaId" asp-items="ViewBag.CategoriaId">
        <option value="">-- Selecione a categoria --</option>
    </select>

    <button type="submit">Save changes</button>
</form>