body {
    padding-top: 85px;
    padding-left: 10%;
    padding-right: 10%;
}

* {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

a:hover {
    color: #808080;
}
