body{
    padding-top: 57px;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial;
}
p{
    margin-bottom: 0;
}
a {
    text-decoration: none; 
    color: inherit; 

    transition: color 0.3s ease;
}
a:hover {
    color: #808080;
}

.nav-bar {
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 57px;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(212, 212, 212);
    background-color: white;
}

.left-side, .right-side, .middle {
    display: flex;
    align-items: center;
}

.left-side {
    justify-content: start;
    width: auto;

}

.middle {
    justify-content: center;
    flex-direction: row;
    gap: 15px;

}

.right-side {
    justify-content: end;
    width: auto;
}

@media (min-width: 768px) {
    .nav-bar {
        padding: 0 10%;
    }
}


@media (min-width: 1200px) {
    .nav-bar {
        padding: 0 20%;
    }
}

.home-text {
    font-weight: 900;
    font-size: 20px;
}

.nav-text {
    font-size: 18px;
}
