.nav-bar {
    font-family: "Figtree", Arial;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 57px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(212, 212, 212);
    background-color: white;
}

.left-side, .right-side, .middle {
    display: flex;
    align-items: center;
}

.left-side {
    justify-content: start;
    width: auto;
}

.middle {
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

.right-side {
    justify-content: end;
    width: auto;
}

@media (min-width: 768px) {
    .nav-bar {
        padding: 0 10%;
    }

    body {
        padding-left: 10%;
        padding-right: 10%;
    }
}


@media (min-width: 1200px) {
    .nav-bar {
        padding: 0 15%;
    }

    body {
        padding-left: 15%;
        padding-right: 15%;
    }
}