.home-text {
    font-weight: 900;
    font-size: 20px;
}

.nav-text {
    font-size: 18px;
}

.product-preview {
    display: flex;
    flex-direction: column;
    background-color: #dadada;
    padding: 10px;
    border-radius: 10px;
}

.carousel-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

.carousel-container {
    margin-bottom: 50px;
}


.products-area {
    display: grid;
    column-gap: 10px;
    row-gap: 15px;
    margin: 0 20px;
    font-family: "Inter", Arial;
}

.product-image-container {
    margin-bottom: 5px;
    height: 320px;
    width: 100%;
}

.product-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
    object-position: center;
}

.product-title {
    font-size: 20px;
    font-weight: 500;
}

.product-description {
    font-size: 14px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}

.product-price {
    height: 16px;
}

.buy-button {
    background-color: #0D6EFD;
    width: 288.5;
    height: 44;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: white;
    margin-top: 8px;
}

.filter-container {
    font-family: "Inter";
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.filter-text {
    font-size: 30px;
    font-weight: 500;
    margin-right: 20px;
}

.filter-button-container {
    background-color: #F5F5F7;
    display: flex;
    height: 50px;
    padding: 2px;
    border-radius: 10px;
}

.filter-button {
    padding: 0 20px;
    font-size: 18px;
    border: none;
    background-color: #F5F5F7;
    border-radius: 10px;
    cursor: pointer;
}

.filter-button-selected {
    padding: 0 20px;
    font-size: 18px;
    border: none;
    background-color: #CFE2FF;
    border-radius: 10px;
    color: #0A58CA;
    cursor: pointer;
}

@media (min-width: 768px) {
    .products-area {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 1200px) {
    .products-area {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}